<article class='post'>
  <div class='title'>
    <h4>{{title}}</h4>
    <div class='meta'>

      Posted by
      {{user.username}}
      on
      {{format_date created_at}}
      |
      <a href='/posts/{{id}}'>{{comments.length}}
        {{format_plural 'comment' comments.length}}</a>
    </div>
  </div>
  <div class='post-body'><p>{{post_text}}</p></div>

</article>