<article class='post'>
  <a href='/posts/{{id}}'>
    <div class='title'>

      <h4>{{title}}</h4>
      <div class='meta'>

        Posted by
        {{user.username}}
        on
        {{format_date created_at}}

      </div>
    </div>
  </a>
  <div class='post-body'><p>{{post_text}}</p></div>

</article>